Source: ros-kinetic-strands-morse
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, libpcl-dev, python-opencv, ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-message-filters, ros-kinetic-pcl-ros, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf
Homepage: http://www.strands-project.eu
Standards-Version: 3.9.2

Package: ros-kinetic-strands-morse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, libpcl1.7, morse-blender-2.65-py-3.3, python-opencv, ros-kinetic-cv-bridge, ros-kinetic-message-filters, ros-kinetic-openni-wrapper, ros-kinetic-pcl-ros, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-scitos-description, ros-kinetic-scitos-msgs, ros-kinetic-scitos-ptu, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-strands-movebase, ros-kinetic-tf, ros-kinetic-topic-republisher
Description: The strands_morse package
